<%= render :template => 'layouts/menu' %>

<div class="wrapper">

    <div class="container" id="senior_container">
    
    <h5>~ new senior player ~</h5>
    
    <%= render 'form' %>

    <%= link_to 'Back', players_path %>
    

    </div>
            
</div>