<%= render :template => 'layouts/menu' %>

<div class="wrapper">

    <div class="container" id="senior_container">
    
    <h5>~ register senior player ~</h5>
    
    <%= render 'form' %>
    
    </div>
            
</div>