body {
    font-family: 'Lato', sans-serif;
    background: #444;
    margin: 0;
}
h1,
h2 {
    text-shadow: 2px 2px #333;
}
h1 {
    color: #81c161;
    font-size: 60pt;
    line-height: 20%;
    
}
h1 span {
    color: #aaa;
    font-weight: 300;

}
h2 {
    color: #ccc;
    font-size: 30pt;
    line-height: 10%;
    font-weight: 300;
}

.wrapper {
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

.menu {
    width: 100%;
    position: relative;
    height: 100px;
    background: #fff;
    padding: 0;
    overflow: hidden;
    top: 0;
    float: left;  
}

.menu ul {
    display: table;
    height: 100px;    
    margin: 0px auto;   
    width: 100%;
    margin-left: -40px;   
    overflow: hidden;
    top: 0;
    float: left;
}

.menu li {
    display: table-cell;
    width: 33%;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.menu ul li h3 {
    text-align: center;
    font-size: 16pt;
    font-weight: lighter;
}


<!-- register --> 

.menu ul li:nth-child(2) {
    background: #84ff99;
    
    color: #478852;
}

.menu li.register{
    background: #84ff99;
    color: #478852;
}

.menu li.register:hover {
    background: #5eff72;
    transition: 0.4s;
}
.menu li.register:active {
    background: #20ff3d;
    transition: 0.4s;
}


<!-- home --> 

.menu ul li:nth-child(1) {
    background: #90ddff;
    color: #57859a;
}
    
.menu li.home {
    background: #90ddff;
    color: #57859a;
}
.menu li.home:hover {
    background: #6dd1ff;
    transition: 0.4s;
}
.menu li.home:active {
    background: #3bc5ff;
    transition: 0.4s;
}


<!-- Admin -->

.menu ul li:nth-child(3) {
    background: #ff9e6e;
    color: #a76543;
}
.menu li.admin {
    background: #ff9e6e;
    color: #a76543;
}
.menu li.admin:hover {
    background: #ff8345;
    transition: 0.4s;
}
.menu li.admin:active {
    background: #ff5b08;
    transition: 0.4s;
}


#sub_menu {
    width: 300px;
    padding-top: 100px;
    position: absolute;
    height: 100px;
    float: left;    
    transition: 0.5s;
    background-color:transparent;
}

#sub_menu:hover {
    margin-top: -100px;
}

#sub_menu ul {
    display: table;
    margin: 0px auto;   
    width: 100%;
    padding: 0px;
    height: 100px;
}

#sub_menu li {
    background: #52ff77;
    transition: 0.2s;    
}

#sub_menu li:hover {
    background: #42d361;
    color:  #a0edb0;
}

#sub_menu ul li h3 {
    text-align: center;
    font-size: 12pt;
    font-weight: lighter;
}

.container {
    padding: 35px;
    background: #eee; 
	position: relative;
	clear: both;
	width: 830px;
	top: 0;      
}

.container h3 {
    font-size: 50px;
    color: #c96ec9;
    text-shadow: 1px 1px #555;
    margin-top: 0px;
}

.container p {
    color: #444;
    margin-top: -30px;
}

#registration_container {
    left: 200%; 
}

#home_container {

}

