body {
    font-family: 'Lato', sans-serif;
    background: #444;
    margin: 0;
}
h1,
h2 {
    text-shadow: 2px 2px #333;
}
h1 {
    color: #81c161;
    font-size: 60pt;
    line-height: 20%;
    
}
h1 span {
    color: #aaa;
    font-weight: 300;

}
h2 {
    color: #ccc;
    font-size: 30pt;
    line-height: 10%;
    font-weight: 300;
}

.wrapper {
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;

}


#menu {
    width: 100%;
    position: relative;
    height: 100px;
    background: #fff;
    padding: 0;
    float: left;    
}
#menu ul {
    display: table;
    margin: 0px auto;   
    width: 100%;
    padding: 0px;
    height: 100px;
}


<!-- register --> 

#menu ul li:nth-child(2) {
    background: #84ff99;
    color: #478852;
}

#menu li.register{
    background: #84ff99;
    color: #478852;
}

#menu li.register:hover {
    background: #5eff72;
    transition: 0.4s;
}
#menu li.register:active {
    background: #20ff3d;
    transition: 0.4s;
}


<!-- home --> 

#menu ul li:nth-child(1) {
    background: #90ddff;
    color: #57859a;
}

#menu li.home {
    background: #90ddff;
    color: #57859a;
}
#menu li.home:hover {
    background: #6dd1ff;
    transition: 0.4s;
}
#menu li.home:active {
    background: #3bc5ff;
    transition: 0.4s;
}


<!-- Admin -->

#menu ul li:nth-child(3) {
    background: #ff9e6e;
    color: #a76543;
}
#menu li.admin {
    background: #ff9e6e;
    color: #a76543;
}
#menu li.admin:hover {
    background: #ff8345;
    transition: 0.4s;
}
#menu li.admin:active {
    background: #ff5b08;
    transition: 0.4s;
}


#menu li {
    display: table-cell;
    width: 33%;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}
#menu ul li h3 {
    text-align: center;
    font-size: 16pt;
    font-weight: lighter;
}

.container {
    padding: 35px;
    background: #eee; 
	position: relative;
	clear: both;
	width: 830px;
	top: 0;      
}

.container h3 {
    font-size: 50px;
    color: #c96ec9;
    text-shadow: 1px 1px #555;
    margin-top: 0px;
}

.container p {
    color: #444;
    margin-top: -30px;
}

#registration_container {
    left: 200%; 
}

#home_container {

}




/** Form Styles **/

/*######## Smart Green ########*/
.forms {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 13pt;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.forms h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.forms h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.forms label {
    display: block;
    margin: 0px 0px 5px;
}
.forms label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.forms input[type="text"], input[type="email"],input[type="tel"],input[type="number"], input[type="date"], .forms textarea, .forms select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.forms input[type="number"] {
    width: 50px;   
}    


.forms textarea{
    height:100px;
    padding-top: 10px;
}
.forms select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.forms .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.forms .button:hover {
    background-color:#80A24A;
}

.forms li {
    display: block;
    padding: 7px;
}

.name_list {
    display: table;
    width: 100%;
}
.name_list li {
    width: 50%;
    display: block;
}
