<%= render :template => 'layouts/menu' %>

<div class="wrapper">

    <div class="container" id="junior_container">
    
    <h3>~ register junior player ~</h3>
    
    <%= render 'form' %>
    
    </div>
            
</div>