// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tidy{} /* ignore this */

#admin_sidebar{
    position: fixed;
    float: left;
    top: 0;
    width: 350px;
    height: 100%;
    background: #92ce89;
	z-index: 1;
}

#admin_sidebar ul {
    list-style:none;
    margin-top: 100px;
    padding-left:0;
}

#admin_sidebar ul li{
    margin: 0px auto;
    width: 90%;
    display: block;
    border-bottom: 1px solid #75b767;
    padding: 10px 0px 10px 0px;
    left: 0;
    transition: 0.4s
}

#admin_sidebar ul li:hover{
    background: #9ee094;
}

#admin_sidebar ul li h4{
    vertical-align: middle;
    color: #57834a;
    margin-left: 30px;
    font-size: 12pt;
}



.logout {
    position:absolute;
    background: #82b77b;
    color: #476a3c;
    padding: 10px 0px 10px 0px;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    z-index: 2;
}

.logout span {
    color: inherit;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
    text-align: center;
	padding: 20px;
}

.logout:hover {
    background: #71a06b;
	z-index: 2;
    transition: 0.4s;
    color: #94dd7e;
}


.field input {
    background: #fff;
    padding: 15px;
    width: 500px;
    border: 6px solid #ededed;
    font-size: 12pt;
}

.field input:hover , input:focus {
    border: 6px solid #afffac;
}

.field {
    font-size: 14pt;
    color: #444;
    line-height: 250%;
}

.field label {
    display: inline-block;
    font-size: 14pt;
    color: #628959;
    margin-right: 70px;
    text-align: right;
    width: 180px;
}

select {
    padding: 10px;
    background: #fff;
    border: 5px solid #ededed;
}

submit {
    padding: 100px;
}

.adminContainer {
	position: absolute;
	top: 0;
	height: 100%;
}

#mi1 {
	background-color: #1d18d8;
}

#mi2 {
	background-color: #e32222;
}

#mi3 {
	background-color: #0ddd47;
}

#mi4 {
	background-color: #fff500;
}

#loginDiv {
	background-color: inherit;
}

.loginDiv {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -200px;
	background: #92ce89;
}

.loginDiv span {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	color: 57834a;
	margin-right: 10px;
    text-align: right;
    width: 75px;
}

.loginInputs {
	padding: 30px;

}

.inputBox {
	border: 6px solid #9dd894;
	width: 200px;
	margin-left: 0px;
	padding: 5px;
    font-size: 12pt;    
    color: #666;
}

#pass {
	margin-top: 10px;
}

.loginButton {
	background-color: #82b77b;
    color: #476a3c;
	z-index: 2;   
}

.loginButton span {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
    text-align: center;
	padding: 20px;
}

.loginButton:hover {
    background: #71a06b;
    transition: 0.4s;
    color: #94dd7e;
}

.miIframe {
	width: inherit;
	height: inherit;
}