/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

tidy{} /* ignore this */

body {
    font-family: 'Lato';
    background: #f3f4ee;
    margin: 0;
    overflow-x: hidden;
}

p.title {
    font-weight: 100;
    font-size: 26pt;
    color: #80a572;
    line-height: 100%;
    text-align: center;
}

span.title {
    font-size: 60pt;
    font-weight: 600;
}

h2 {
    color: #ccc;
    font-size: 30pt;
    font-weight: 300;
    text-align: center;
}

#title {
    position: relative;
    height: 150px;
    margin-top: -100px;
    top: 50%;
}

#title_container {
    width: 100%;
    margin: 0;
    height: 40%;
    top: 0;
    min-height: 40%;
    position: absolute;
    overflow: hidden;
}

#colour_block {
    width: 100%;
    margin: 0;
    height: 40%;
    top: 0;
    opacity: 0.3;
    background: #aac482;
    min-height: 40%;
    position: absolute;
    overflow: hidden;
}

#background_image {
    width: 100%;
    margin: 0;
    height: 40%;
    top: 0;
    opacity: 0.2;
    min-height: 40%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}



#facebook {
    float: right;
    width: 200px;
    top:0;
    margin-top: -75px;
    opacity: 0.5;
    cursor: pointer;
}

#facebook:hover{
    opacity: 1;
    transition: 0.4s;
}

#facebook img{
    position: absolute;
    margin-top: -5px;
}

#facebook span {
    color: #777;
    margin-left: 45px;
    font-variant: small-caps;    
}


.wrapper {
	width: 80%;
    max-width: 1000px;
	position: relative;
    margin: 0px auto;
    margin-top: 450px;
    min-height: 500px;
}

.menu {
    width: 100%;
    position: absolute;
    height: 100px;
    background: #fff;
    padding: 0;
    top: 40%;
    overflow: hidden;
    float: left;  
    z-index: 2;
}


.menu ul {
    display: table;
    height: 100px;    
    margin: 0px auto;   
    width: 100%;
    margin-left: -40px;   
    overflow: hidden;
    float: left;
}


.menu li {
    display: table-cell;
    width: 33%;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.menu ul li h3 {
    text-align: center;
    font-size: 16pt;
    font-weight: lighter;
}


<!-- register --> 

.menu ul li:nth-child(2) {
    background: #6a9f5a;
    color: #537c46;
}

.menu li.rego{
    background: #93ce8a;
    color: #478852;
}

.menu li.rego:hover {
    background: #aae5a1;
    transition: 0.4s;
}
.menu li.rego:active {
    background: #20ff3d;
    transition: 0.4s;
}


<!-- admin --> 

.menu ul li:nth-child(3) {
    background: #80b478;
    color: #9cdb92;
}
    
.menu li.admin {
    background: #80b478;
    color: #9cdb92;
}
.menu li.admin:hover {
    background: #9ede93;
    color: #689361;    
    transition: 0.4s;
}
.menu li.admin:active {
    background: #a5ea9a;
    transition: 0.4s;
}


<!-- home -->

.menu ul li:nth-child(1) {
    background: #9ede93;
    color: #689361;
}
.menu li.home {
    background: #9ede93;
    color: #689361;
}
.menu li.home:hover {
    background: #80b478;
    color: #9cdb92;    
    transition: 0.4s;
}
.menu li.home:active {
    background: #72a06a;
    transition: 0.4s;
}


#sub_menu {
    width: 33.3%;
    padding-top: 100px;
    position: absolute;
    height: 100px;
    float: left;  
    margin-top: -40px;
    transition: 0.5s;
    background-color:transparent;
}

#sub_menu:hover {
    margin-top: -140px;
}

#sub_menu ul {
    display: table;
    margin: 0px auto;   
    width: 100%;
    padding: 0px;
    height: 100px;
}

#sub_menu li {
    background: #aae5a1;
    transition: 0.2s;    
    width: 33.3%;
}

#sub_menu li:hover {
    background: #93ce8a;
    color:  #478852;
}

#sub_menu ul li h3 {
    text-align: center;
    font-size: 12pt;
    font-weight: lighter;
}


iframe {
    width: 1000px;
    border: 0;
    
}


.container h3 {
    font-size: 34pt;
    color: #9cc185;
    line-height: 150%;
    margin-top: 0px;
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
}

.container p {
    color: #75985a;
    font-family: georgia;
    font-size: 14pt;
    margin-top: -30px;
    line-height: 200%;
    font-weight: 100;
}

.container{
    position: absolute;
    right: 200%; 
    margin-top: -30px;
    padding: 50px;
    width: 900px;
    z-index: 10;
}

#home_container {
    position: absolute; 
    top: 0;
    right: 0%; 
    padding: 50px;
    width: 900px;
}

#administration_container {
    top: -200%; 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
