/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#admin_sidebar{
    position: absolute;
    float: left;
    top: 0;
    width: 333px;
    height: 100%;
    background: #d6855c;
}

#admin_sidebar ul {
    list-style:none;
    padding-left:0;
}


#admin_sidebar ul li{
    margin: 0px auto;
    width: 90%;
    display: block;
    border-bottom: 1px solid #cb7d56;
    padding: 10px 0px 10px 0px;
    left: 0;
    transition: 0.4s
}

#admin_sidebar ul li:hover{
    color: #cba38e;
    background: #cb7d56;
}

#admin_sidebar ul li h4{
    vertical-align: middle;
    color: #84533a;
    margin-left: 30px;
    font-size: 12pt;
}

.logout h4 {
    vertical-align: middle;
    color: #84533a;
    margin-left: 0px;
    font-size: 12pt;
}

.logout:hover {
    background: #ff9e6e;
    color: #a76543;
}

.logout {
    height: 60px;
    position:absolute;
    background: #cb7d56;
    padding: 10px 0px 10px 0px;
    left: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    z-index: 2;
}


