.field input {
    background: #fff;
    padding: 15px;
    width: 500px;
    border: 6px solid #ededed;
    font-size: 12pt;
}

.field input:hover , input:focus {
    border: 6px solid #afffac;
}

.field {
    font-size: 14pt;
    color: #444;
    line-height: 250%;
}

.field label {
    display: inline-block;
    font-size: 14pt;
    color: #628959;
    margin-right: 70px;
    text-align: right;
    width: 180px;
}




/* Search player styles */

.search_players_table{
    width: 60%;
    margin: 0px auto;
}

.search_players_table th {
    height: 300px;
}

.search_players{
    padding-bottom: 20px;
}

.search_players h3{
    font-size: 34pt;
    color: #9cc185;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
}

.search_players_table select{
    padding: 7px;
    border: 0;
    font-size: 12pt;
    color: #666;
    width: 100%;
    min-width: 200px;
}

.search_players_table input {   
    background: #fff;
    padding: 7px;
    border: 6px solid #ededed;
    font-size: 12pt;
    color: #666;
}

.search_players_table input:hover ,search_players_table input:focus {
    border: 6px solid #afffac;
}

.search_players_table input[type=submit] {
    background: #75985a;
    color: #eee;
    font-size: 10pt;
}
.search_players_table input[type=submit]:hover {
    background: #6b8b53;
    border: 6px solid #ededed;
}





.players_table th, th a {
    text-decoration: none;
    padding: 10px;
    color: #777;
    font-size: 12pt;
    font-variant: small-caps;
    text-align: center;
    width: 17%;
}

.players_table th a:hover {
    color: #364e31;
    background-color: transparent;
}

.players_table th{
    border-right: 1px solid #ccc;
}

.players_table th:last-child, th a:last-child {
    border-right: 0;
}

.players_table td {

    padding-top: 10px;

}

.players_table {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;    
}

