h5 {
    font-size: 34pt;
    color: #9cc185;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
}

.field input {
    background: #fff;
    padding: 15px;
    width: 500px;
    border: 6px solid #ededed;
    font-size: 12pt;
}

.field input:hover , input:focus {
    border: 6px solid #afffac;
}

.field {
    font-size: 14pt;
    color: #444;
    line-height: 250%;
}

.field label {
    display: inline-block;
    font-size: 14pt;
    color: #628959;
    margin-right: 70px;
    text-align: right;
    width: 180px;
}


/* Search player styles */

.search_table {
    margin: 0px auto;
}

.search_table th {
    height: 250px;
}

.search{
    padding-bottom: 20px;
}

.search_table select{
    padding: 7px;
    border: 0;
    font-size: 12pt;
    color: #666;
    width: 100%;
    min-width: 200px;
}

.search_table input {   
    background: #fff;
    padding: 7px;
    border: 6px solid #ededed;
    font-size: 12pt;
    color: #666;
}

.search_table input:hover ,search_players_table input:focus {
    border: 6px solid #afffac;
}


/* Submit buttons styling */

input[type=submit] {
    padding: 6px;
    background: linear-gradient(#f3f5e8, #dee0d1);
    color: #888;
    border: 1px solid #ccc;
	border-radius: 3px;
	text-decoration: none;
    font-size: 10pt;
	margin: 5px;
}

input[type=submit]:hover {
    background: linear-gradient(#eaeae5, #d7d9cd);
    border: 1px solid #ccc;
	border-radius: 3px;
}

input[type=submit]:active {
	background: linear-gradient(#dee0d1, #f3f5e8);
}


/* Table template stying */

.table th, th a {
    text-decoration: none;
    padding: 10px;
    color: #777;
    font-size: 12pt;
    font-variant: small-caps;
    text-align: center;
}

.table th a:hover {
    color: #364e31;
    background-color: transparent;
}

.table th{
    border-right: 1px solid #ccc;
}

.table td {
    padding-top: 12px;
}

.table {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;    
}


/* Submit buttons styling */

.button a {
    padding: 6px;
    background: linear-gradient(#f3f5e8, #dee0d1);
    border: 1px solid #ccc;
	border-radius: 3px;
    text-decoration: none;
    font-size: 10pt;
	margin: 5px;
}

.button a:hover {
    background: linear-gradient(#eaeae5, #d7d9cd);
}

.button a:active {
	background: linear-gradient(#dee0d1, #f3f5e8);
}

.button a,.button a:link,.button a:visited,.button a:hover,.button a:focus,.button a:active {
	color: #888;
	text-decoration-color: #888;
	text-emphasis-color: #888;
	text-decoration: none;
}