/* Styles for the Team management page */

.inlineTable{
    display: inline-block;   
}

#container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    color: #333;
    line-height: 130%;
}

#leftnav
{
    float: left;
    width: 200px;
    height: 100%;
    position: relative;
    margin: 0;
    color: #565d51;    
}

#leftnav dl {
    width: 200px;
    margin: 0 auto;
}

#leftnav dt {
    font-weight: 900;
    background: #fbfdf6;
}

#leftnav dd {
    font-weight: 300;
    font-size: 14pt;
    line-height: 150%;
}

#leftnav dd:hover {
    cursor: pointer;
    color: #000;
}


#confirm {
    position: absolute;
    right: 0;
    bottom: 20px;
    float: right;
    margin-right: 220px;
    z-index: 1000;
}

#filter {
    float: right;   
}

#age {
    margin-left: 10px;
}

#rightnav
{
    float: right;
    width: 200px;
    height: 100%;
    margin: 0;
}

.content
{
    margin-left: 200px;
    border-left: 1px solid #d8d8cc;
    margin-right: 200px;
    border-right: 1px solid #d8d8cc;
    max-width: 75%;
    height: 100%;

}
.teamsContent
{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
}
.playersContent
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.innerTeam{
    position:relative;
    margin: auto;
    width: 100%;
}

#container h3{
    font-size: 26pt;
    color: #9cc185;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 100;
    font-variant: small-caps;
    text-align: center;
}

#container h2{
    font-size: 20pt;
    background: #9cc185;
    color: #e0f4d3;
    padding: 15px;
    margin-bottom: 0px;
    font-variant: small-caps;
    text-align: center;
}


div.ui-widget-content {
    border: 1px solid #d8d8cc; 
    top: 0;
    color: #67765c;
    font-size: 14pt;
}

div.ui-widget-content ol li{
        cursor: pointer;
}

      
h1 { padding: .2em; margin: 0; }
  #products { width:90%; margin: 0px auto;}

  #playerList  {padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #playerList ol { margin: 0; padding: 1em 0 1em 3em; }
      #team1  { padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #team1 ol { margin: 0; padding: 1em 0 1em 3em; }
      #team2  { padding-top: 40px;width:90%; margin: 0px auto;}
  /* style the list to maximize the droppable hitarea */
  #team2 ol { margin: 0; padding: 1em 0 1em 3em; }
  #product ol { margin: 0; padding: 1em 0 1em 3em; }

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#leftnav h2 { margin: 0 0 .5em 0; }
#leftnav {list-style-type: none;}
#leftnav dt { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#rightnav h2 { margin: 0 0 .5em 0; }


.hover {
    box-shadow: 0px 0px 10px -2px #777;
    transition: 0.3s;
}

.details {
    display: none;
    background: #9cc185;
    position: absolute;
    width: auto;
    height: auto;
    color: #e0f4d3;
    padding: 0px 15px 0px 15px;
    opacity: 0.9;
    z-index: 100;
}

.details ul {
    list-style-type: none;
    padding: 0;    
}

.details li {
    display: block;   
}