// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playerSearch {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: #c1d0c3;
	top: 0px;
}

#playerWrapper {
	position: absolute;
	margin-top: 100px;	
}