<!DOCTYPE html>
<html>
<head>


    <script type="text/javascript">
    
        $( document ).ready(function() {
            var pathname = window.location.pathname;
            var title_container = $('#title_container').height();
            
            if(pathname != "/"){
                $('html, body').stop().animate({
                        scrollTop: title_container + "px"
                }, 600); 
            }
            
           $(window).scroll(function(){
                if ($(window).scrollTop() >= title_container){
                    $("#menu").css({position: "fixed", top: 0});
                }
               else {
                    $("#menu").css({position: "absolute", top: title_container + "px"});
                   
                }
           });
  
        });
        
        
        
    </script>
    
    
    
</head>
<body>

  
        <!--  Menu and header for all pages  -->
    
    <div id="background_image" style="background: url(<%= asset_path 'cricket.jpg' %>);"></div>
    
        <div id="title_container"><div id="title">  
            <p class="title">
                    <span class="title">TAWA</span><br>
                         _____<br><br>
                        cricket website
                    </p >
            </div>
        </div>
    
        <div id="colour_block"></div>
    
        <div id="menu" class="menu">
            <ul>
                <li class="home" onClick="self.location='../'">
                    <h3>Home</h3>
                </li>
                <li class="rego">
                    <h3>Register</h3>
                    
                <!-- Sub menu goes here -->
                <div id="sub_menu" class="menu">
                    
                        <ul class="registration">
                            <li id="junior" class="register" onClick="self.location='../parents/new'">
                                <h3>Junior</h3>
                            </li>
                                
                            <li id ="senior" class="register" onClick="self.location='../players/new'">
                                <h3>Senior</h3>
                            </li>    

                            <li id="volunteer" class="register" onClick="self.location='../coaches/new'">
                                <h3>Volunteer</h3>
                            </li>    
                                
                        </ul>
                        
                </div>       
                        
                </li>
                    <li class="admin" onClick="self.location='../admin/index'">
                        <h3>Admin</h3>
                    </li>
                </ul>
            </div>
   



</body>
</html>
