<%= render :template => 'layouts/menu' %>

<div class="wrapper">

    <div class="container" id="volunteer_container">
    
    <h5>~ register volunteer ~</h5>
    
    <%= render 'form' %>	
		
    </div>
            
</div>