<%= render :template => 'layouts/menu' %>

<div class="wrapper">

    <div class="container" id="volunteer_container">
    
    <h5>~ new coach ~</h5>
    
    <%= render 'form' %>

    <%= link_to 'Back', coaches_path %>
    

    </div>
            
</div>