<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tawa Cricket - Home</title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    


    <script>
        $(document).ready(function() {                
            var height = $(window).height();
            var home_height = $('#home_container').height() + 70;
            var selectedPage = null;
            
            /* Puts the registration form at the same y position as the Home page */
            $("#registration_container").css("margin-top", -home_height +"px"); 

            /* Loads Registration page */
            $('.register').click(function(e) {
                slide(this);    
            });
			
			/* Load the admin page to reduce animation lag later */                
            $("#administration_container").load("../admin/index");
			
			/* For return to homepage */
			var chml = (window.getComputedStyle(document.getElementById("container_header"))).marginLeft;
            
            function slide(page){
                /* Load the external HTML file */ 
                $("#registration_container").animate({right: 0},400);
                $("#home_container").animate({right: "200%"},400);
				$("#registration_container").animate({height: "500px"},400);
				if($(page).attr("id")== "junior"){
					$("#registration_container").load("../parents/new");
				}		
				if($(page).attr("id") == "senior"){
					$("#registration_container").load("../players/new");
				}
				if($(page).attr("id")== "volunteer"){
					$("#registration_container").load("../coaches/new");
				}
            }

            /* Loads Home page */
            $('.home').click(function(e) {
                $("#home_container").animate({right: "0"},400);
                $("#registration_container").animate({right: "200%"},400);                
            });
            
            $('.admin').click(function(e) {
                
				console.log( "top: " + $("#administration_container").position().top );
				
                /* Loading the admin page moved to homepage load to reduce animation lag */
				
				/* If admin displayed, go back */
				if($("#administration_container").position().top == 0) {
					$("#administration_container").animate({top: "-200%", height: height-100 + "px"}, 600, function(){
                    $("#wrapper_header").animate({marginTop: "0px"},400, function(){
					$("#container_header").animate({marginLeft: chml}, 400, function(){
					$("#home_container").animate({right: "0"},400);});});});
				
				} else {

                /* Hides the other containers */
                $("#home_container").animate({right: "200%"},400);
                $("#registration_container").animate({right: "200%"},400);       
         
                /*Gets rid of the header and slides the admin pane in  */          
                $("#container_header").animate({marginLeft: "-667px"}, 400, function(){
                    $("#wrapper_header").animate({marginTop: "-125px"},400, function(){
						$("#administration_container").animate({top: "0", marginTop: "100px", height: height-100 + "px"}, 600);});});
				}
            });
			
			/* facebook link */
			$('#facebook').click(function(e) {
				window.location="http://www.facebook.com/NorthCityCricket";
			});
    
        });
    </script>

</head>

<body>
        <div id="wrapper_header">
            
            <div id="container_header">
    
            <div class="title">  
                <h1>TAWA<span> | CRICKET</span></h1>
            </div>
                
            <div id="facebook"><img src=<%= asset_path 'facebook.png' %>><span>check out our page!</span></div>

            <div id="menu" class="menu">
                <ul>
                    <li class="home">
                        <h3>Home</h3>
                    </li>
                    <li class="register">
                        <h3>Register</h3>
                        
                        <!-- Sub menu goes here -->
                        <div id="sub_menu" class="menu">

                            <ul class="registration">
                                <li id="junior" class="register">
                                    <h3>Junior</h3>
                                </li>
                                    
                                <li id ="senior" class="register">
                                    <h3>Senior</h3>
                                </li>    
                                
                                <li id="volunteer" class="register">
                                    <h3>Volunteer</h3>
                                </li>    
                                
                            </ul>
                        
                        </div>       
                        
                    </li>
                    <li class="admin">
                        <h3>Admin</h3>
                    </li>
                </ul>
            </div>
         </div>

        </div>    
        <div class="wrapper">

            <div id="home_container" class="container">
                <h3>You there, welcome!</h3>

                <p>HI! Welcome to the Tawa Cricket registration website. Here you can register yourself or your child into a cricket team. What a thing!<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               
            </div>
            
            <div id="registration_container" class="container"> </div>

        </div>

        <div id="administration_wrapper"> <div id="administration_container" class="container"> </div> </div>

</body>

</html>
