<html>

<head>
	<script>
		$(document).ready(function() {
			
            /* On document resize, refit content */
            $(window).resize(function(){
                			var pageHeight = ($(window).height()-100) + "px";
			$("#admin_sidebar").css({height: pageHeight});
			$(".adminContainer").css({height: pageHeight});
                			$(".adminContainer").css("width", $(window).width() - 350);
            });
            
            
			/* for testing only, remove later */
			$('#user').val('admin');
			$('#pass').val('temppass');
			//console.log((CryptoJS.SHA3("temppass",{outputLength:224})).toString(CryptoJS.enc.Hex)); // for calculating new passwords */
			
			/* page wide variables on load */
			var loggedIn = false;
			var transitionSpeed = 600;
		
			/* On page load, set sidebar height to 100% - top menu height */
			var pageHeight = ($(window).height()-100) + "px";
			$("#admin_sidebar").css({height: pageHeight});
			$(".adminContainer").css({height: pageHeight});
			
			/* On page load, show only login div */
			$(".adminContainer").css("width", $(window).width() - 350);
			$(".adminContainer").css("left", "-200%");
			$("#loginDiv").css("left", 350);
		
			/* Menu items functions */
			
			var id;
			
			$('.menuItem').click(function(e) {
				switch ($(this).attr("id")) {
					case ("item1"): id = "#mi1"; break;
					case ("item2"): id = "#mi2"; break;
					case ("item3"): id = "#mi3"; break;
					case ("item4"): id = "#mi4"; break;
					case ("item5"): id = "#mi5"; break;
					case ("item6"): id = "#mi6"; break;
				} slide(id);
			});
								 
			function slide(id) {
				if (loggedIn == true && $(id).position().left != 350) {
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$(id).animate({left: "350px"}, transitionSpeed);
				} else loginWobble();
			}
		
			/* Logout function */
			$('.logout').click(function(e) {
				if (loggedIn){
					loggedIn = false;
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#loginDiv").animate({left: "350px"}, transitionSpeed);
				} else logginWobble();
			});
			
			/* Login button function */
			$('.loginButton').click(function(e) {
				loggin();
			});
			
			function loggin() {
				var pass = ((CryptoJS.SHA3($('#pass').val(),{outputLength:224})).toString(CryptoJS.enc.Hex));
				if (($('#user').val()=="admin")&&(pass=="30b699db62136c65fa9dff7910505eabb69da8c43db6ac5ed0fb2af8")){
					loggedIn = true;
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi1").animate({left: "350px"}, transitionSpeed);
				} else loginWobble();
			}
			
			function loginWobble() {
				var wobbleSpeed = 50;
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed/2,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-200px"},wobbleSpeed/2);});});});});});
			}
			
		});
	</script>
</head>
	
<body>
    
    <!-- Render menu only in this admin page -->

     <div id="menu" class="menu" style="top: 0%;">
                <ul>
                    <li class="home" onClick="self.location='../'">
                        <h3>Home</h3>
                    </li>
                    <li class="rego">
                        <h3>Register</h3>

                    <!-- Sub menu goes here -->
                    <div id="sub_menu" class="menu">

                            <ul class="registration">
                                <li id="junior" class="register" onClick="self.location='../parents/new'">
                                    <h3>Junior</h3>
                                </li>

                                <li id ="senior" class="register" onClick="self.location='../players/new'">
                                    <h3>Senior</h3>
                                </li>    

                                <li id="volunteer" class="register" onClick="self.location='../coaches/new'">
                                    <h3>Volunteer</h3>
                                </li>    

                            </ul>

                    </div>       

                    </li>
                        <li class="admin" onClick="self.location='../admin/index'">
                            <h3>Admin</h3>
                        </li>
                    </ul>
                </div>

    
	<div class="admin_wrapper">
		
		<div id="admin_sidebar">
            <div id="admin_menu">
                <ul>
                    <li class="menuItem" id="item1"><h4>Player Profiles</h4></li>
                    <li class="menuItem" id="item2"><h4>Manage Teams</h4></li>
                    <li class="menuItem" id="item3"><h4>Create Teams</h4></li>
                    <li class="menuItem" id="item4"><h4>Manage Prices</h4></li>
                    <li class="menuItem" id="item5"><h4>Send Messages</h4></li>

                </ul>
            </div>
			<div class="logout"><center><span>Log out</span></center></div> 
		</div>
		
		<div class="adminContainer" id="loginDiv">
			<div class=loginDiv>
				<center>
					<div class="loginInputs">
						<span>Username: </span><input type="text" class="inputBox" id="user"/><br>
						<span>Password: </span><input type="password" class="inputBox" id="pass"/><br>
					</div>
					<div class="loginButton"><center><span>Log In</span></center></div>
				</center>
			</div>
		</div>
		
		<div class="adminContainer" id="mi1"><iframe class="miIframe" id="mi1Iframe" src="../players" scrolling="no" border="0"></iframe></div>
		<div class="adminContainer" id="mi2"><iframe class="miIframe" id="mi2Iframe" src="../manage/index" scrolling="no" border="0"></iframe></div>
		<div class="adminContainer" id="mi3"><!--iframe class="miIframe" id="mi3Iframe" src="../" scrolling="no" border="0"></iframe--></div>
		<div class="adminContainer" id="mi4"><iframe class="miIframe" id="mi4Iframe" src="../costs" scrolling="no" border="0"></iframe></div>
		
		<div class="adminContainer" id="mi5">
			<!--not an iframe, its own div. will need controller to get email addresses and names from players/parents etc-->
		</div>
		
	</div>
    
</body>

</html>