<html>

<head>
	<script>
		$(document).ready(function() {
			
            /* On document resize, refit content */
            $(window).resize(function(){
				var pageHeight = ($(window).height()-100) + "px";
				$("#admin_sidebar").css({height: pageHeight});
				$(".adminContainer").css({height: pageHeight});
				$(".adminContainer").css("width", $(window).width() - menuWidth);
				menuWidth = ($(window).width() / 5);
				$(id).css("left", menuWidth+"px");
            });
			
			/* function to get new hex to compare password to
				input passowrd between "" marks, and new hex can be copied from browser console */
			console.log((CryptoJS.SHA3("t4w4cr1ck3t",{outputLength:224})).toString(CryptoJS.enc.Hex)); 
			
			/* page wide variables on load */
			var loggedIn = false;
			var transitionSpeed = 600;
			var pageHeight = ($(window).height()-100) + "px";
			var menuWidth = ($(window).width() / 5);
		
			/* On page load, set sidebar height to 100% - top menu height */
			$("#admin_sidebar").css({height: pageHeight});
			$(".adminContainer").css({height: pageHeight});
			
			/* On page load, show only login div */
			$(".adminContainer").css("width", $(window).width() - menuWidth);
			$(".adminContainer").css("left", "-200%");
			$("#loginDiv").css("left", menuWidth);
			
			/* Menu items functions */
			
			var id = "#mi1";
			
			$('.menuItem').click(function(e) {
				switch ($(this).attr("id")) {
					case ("item1"): id = "#mi1"; break;
					case ("item2"): id = "#mi2"; break;
					case ("item3"): id = "#mi3"; break;
					case ("item4"): id = "#mi4"; break;
					case ("item5"): id = "#mi5"; break;
					case ("item6"): id = "#mi6"; break;
					case ("item7"): id = "#mi7"; break;
					case ("item8"): id = "#mi8"; break;
					//case ("itemt"): id = "#mit"; break;
				} slide(id);
			});
								 
			function slide(id) {
				if (loggedIn == true && $(id).position().left != menuWidth) {
                    //for when teams are generated, reload the manage team page 
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$(id).animate({left: menuWidth+"px"}, transitionSpeed);
				} else loginWobble();
			}
		
            
			/* Logout function */
			$('.logout').click(function(e) {
				if (loggedIn){
					loggedIn = false;
					$('#user').val('');
					$('#pass').val('');
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#loginDiv").animate({left: menuWidth+"px"}, transitionSpeed);
				} else logginWobble();
			});
			
			/* Login button function */
			$('.loginButton').click(function(e) {
				loggin();
			});
			
			function loggin() {
				var pass = ((CryptoJS.SHA3($('#pass').val(),{outputLength:224})).toString(CryptoJS.enc.Hex));
				if (($('#user').val()=="tawacricket")&&(pass=="f9d5a73a7f806ef474518f938c9e2cf4d02e969da42d5ab63a554646")){
					loggedIn = true;
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$(id).animate({left: menuWidth+"px"}, transitionSpeed);
				} else loginWobble();
			}
			
			function loginWobble() {
				var wobbleSpeed = 50;
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed/2,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-200px"},wobbleSpeed/2);});});});});});
			}
			
		});
	</script>
</head>
	
<body>
    
    <!-- Render menu only in this admin page -->

     <div id="menu" class="menu" style="top: 0%;">
		 <ul>
			 <li class="home" onClick="self.location='../'">
				 <h3>Home</h3>
			 </li>
			 <li class="rego">
				 <h3>Register</h3>
				 <!-- Sub menu goes here -->
				 <div id="sub_menu" class="menu">
					 <ul class="registration">
						 <li id="junior" class="register" onClick="self.location='../parents/new'">
							 <h3>Junior</h3>
						 </li>
						 <li id ="senior" class="register" onClick="self.location='../players/new'">
							 <h3>Senior</h3>
						 </li>    
						 <li id="volunteer" class="register" onClick="self.location='../coaches/new'">
							 <h3>Volunteer</h3>
						 </li>   
					 </ul>
				 </div>   
			 </li>
			 <li class="admin" onClick="self.location='../admin/index'">
				 <h3>Admin</h3>
			 </li>
		 </ul>
	</div>

	<div class="admin_wrapper">
		
		<div id="admin_sidebar">
            <div id="admin_menu">
                <ul>
                    <li class="menuItem" id="item1"><h4>Player Profiles</h4></li>
                    <li class="menuItem" id="item2"><h4>Coach Profiles</h4></li>
                    <li class="menuItem" id="item3"><h4>Manage Teams</h4></li>
                    <li class="menuItem" id="item4"><h4>Teams Profiles</h4></li>
                    <li class="menuItem" id="item5"><h4>Manage Grades</h4></li>
                    <li class="menuItem" id="item6"><h4>Payments Summary</h4></li>
                    <li class="menuItem" id="item7"><h4>Manage Prices</h4></li>
                    <li class="menuItem" id="item8"><h4>Generate Teams</h4></li>
                </ul>
            </div>
			<div class="logout"><center><span>Log out</span></center></div> 
		</div>
		
		<div class="adminContainer" id="loginDiv">
			<div class=loginDiv>
				<center>
					<div class="loginInputs">
						<span>Username: </span><input type="text" class="inputBox" id="user"/><br>
						<span>Password: </span><input type="password" class="inputBox" id="pass"/><br>
					</div>
					<div class="loginButton"><center><span>Log In</span></center></div>
				</center>
			</div>
		</div>
		
		<div class="adminContainer" id="mi1"><iframe class="miIframe" id="mi1Iframe" src="../players" border="0"></iframe></div>
		<div class="adminContainer" id="mi2"><iframe class="miIframe" id="mi2Iframe" src="../coaches" border="0"></iframe></div>
		<div class="adminContainer" id="mi3"><iframe class="miIframe" id="mi3Iframe" src="../manage/index" border="0"></iframe></div>
		<div class="adminContainer" id="mi4"><iframe class="miIframe" id="mi4Iframe" src="../teams" border="0"></iframe></div>
		<div class="adminContainer" id="mi5"><iframe class="miIframe" id="mi5Iframe" src="../grades" border="0"></iframe></div>
		<div class="adminContainer" id="mi6"><iframe class="miIframe" id="mi6Iframe" src="../payments" border="0"></iframe></div>
		<div class="adminContainer" id="mi7"><iframe class="miIframe" id="mi7Iframe" src="../costs" border="0"></iframe></div>
        <div class="adminContainer" id="mi8"><iframe class="miIframe" id="mi8Iframe" src="../manage/generate"></iframe></div>
		
        
        <!--       INCOMPLETE FEATURE.    -->
		<!--will need controller to get email addresses and names from players/parents etc
		<div class="adminContainer" id="mi8">
			<h5>~ Send a Message ~</h5>
			<div class="message">
				<!--%= render 'mail' %>
			</div>
		</div>-->
		
	</div>
    
</body>

</html>