<html>

<head>
	<script>
		$(document).ready(function() {
			
			/* for testing only, remove later */
			$('#user').val('admin');
			$('#pass').val('temppass');
			console.log((CryptoJS.SHA3("temppass",{outputLength:224})).toString(CryptoJS.enc.Hex)); // for calculating new passwords */
			
			/* page wide variables on load */
			var loggedIn = false;
			var transitionSpeed = 350;
		
			/* On page load, show only login div */
			$(".adminContainer").css("width", $(window).width() - 333);
			$(".adminContainer").css("left", "-200%");
			$("#loginDiv").css("left", 333);
		
			/* Menu items functions */
			$('.mi1').click(function(e) {
				if (loggedIn == true && $("#mi1").position().left != 333) {
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi1").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
			$('.mi2').click(function(e) {
				if (loggedIn == true && $("#mi2").position().left != 333) {
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi2").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
			$('.mi3').click(function(e) {
				if (loggedIn == true && $("#mi3").position().left != 333) {
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi3").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
			$('.mi4').click(function(e) {
				if (loggedIn == true && $("#mi4").position().left != 333) {
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi4").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
		
			/* Logout function */
			$('.logout').click(function(e) {
				if ($("#loginDiv").position().left != 333){
					loggedIn = false;
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#loginDiv").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
			
			/* Login button function */
			$('.loginButton').click(function(e) {
				var pass = ((CryptoJS.SHA3($('#pass').val(),{outputLength:224})).toString(CryptoJS.enc.Hex));
				if (($('#user').val()=="admin")&&(pass=="30b699db62136c65fa9dff7910505eabb69da8c43db6ac5ed0fb2af8")){
					loggedIn = true;
					$(".adminContainer").animate({left: "-200%"}, transitionSpeed);
					$("#mi1").animate({left: "333px"}, transitionSpeed);
				} else loginWobble();
			});
			
			function loginWobble() {
				var wobbleSpeed = 50;
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed/2,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-205px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-195px"},wobbleSpeed,function(){
				$(".loginDiv").animate({marginLeft: "-200px"},wobbleSpeed/2);});});});});});
			}
			
		});
	</script>
</head>
<body>
	<div class="headerBar"></div>
	<div class="bodyContainer">
		<div id="admin_sidebar">
			<ul>
    	        <li class="mi1"><h4>Player Profiles</h4></li>
    	        <li class="mi2"><h4>Manage Teams</h4></li>
    	        <li class="mi3"><h4>Menu Item 3</h4></li>
    	        <li class="mi4"><h4>Menu Item 4</h4></li>
    	    </ul>
    	    <div class="logout"><center><span>Log out</span></center></div> 
  		</div>
		
		<div class="adminContainer" id="loginDiv">
			<div class=loginDiv>
				<center>
					<div class="loginInputs">
						<span>Username: </span><input type="text" class="inputBox" id="user"/><br>
						<span>Password: </span><input type="password" class="inputBox" id="pass"/><br>
					</div>
					<div class="loginButton"><span>Log In</span></div>
				</center>
			</div>
		</div>
		<div class="adminContainer" id="mi1">Player Profiles<!-- TODO --></div>
		<div class="adminContainer" id="mi2">Manage Teams<!-- TODO --></div>
		<div class="adminContainer" id="mi3">Menu Item 3<!-- TODO --></div>
		<div class="adminContainer" id="mi4">Menu Item 4<!-- TODO --></div>
	</div>
    
</body>

</html>