
<body>

    <h3> hi!</h3>
    
    <div id="admin_sidebar">
        
        <ul>
            <li><h4>Menu Item 1</h4></li>
        
            <li><h4>Menu Item 2</h4></li>
        
            <li><h4>Menu Item 3</h4></li>
        
            <li><h4>Menu Item 4</h4></li>
        
        </ul>
    
        <div class="logout"><center><h4>Log out</h4></center></div> 
  
        
    </div>
    
    
</body>

</html>