<<<<<<< HEAD
<head>

<script>
$(document).ready(function() {

	$('#generateTeams').click(function() {
	<%= generateTeams %>
	});

});
	</script>

</head>

<body>
<h5>Generate Teams</h5>

<div class="button" id="generateTeams"><a>Click Me!</a></div>
<div><label id="result">Result!</label></div>

</body>
=======
<h5>~ generate teams ~</h5>
>>>>>>> origin/master
