<head>
	<script>
		$(document).ready(function() {
			// any required functions
		});
	</script>
</head>
<body>
	
	<div class=costWrap>
		
		<div class=adminHeader><h3>Manage Pricing</h3></div>
		
		<div class="costCont">
		
		</div>
		
	</div>

</body>